<nav class="navbar">
    <ul>
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#experiencia">Experiencia</a></li>
      <li><a href="#conocimientos">Conocimientos</a></li>
      <li><a href="#diseño">Diseño</a></li>
      <li>
        <a href="../../../assets/curriculum/CV JADE VELEZ.pdf" download="Curriculum.pdf">
        Curriculum <i class="fa fa-download"></i>
        </a>
      </li>
    </ul>
</nav>
  
    <div class="container">

        <section id="inicio" class="section-inicio">
        </section>

            <div class="contenedor-imagenes">
                <img class="Rueda-1" src="../../../assets/Image/portafolio-web-fondo-de-sobre-mí-girar.png" alt="">
                <img class="imagen-superpuesta" src="../../../assets/Image/MI AMORCITO UWU.png" alt="">

                <div class="texto-contenedor">
                    <h1 class="Saludo">Hola!</h1>
                    <p class="Sobre-mí">mi nombre es jade.
                        Soy un desarrollador 
                        Front-End apasionado por el diseño, 
                        la interactividad y versatilidad 
                        de las aplicaciones web</p>
                </div>
            </div>

        <section id="experiencia" class="section-experiencia">
            <div class="textoexperiencia">
                <h1 class="presentacionExp"></h1>
                <p class="presentacionSub"></p>
            </div>

            <img class="Rueda-2" src="../../../assets/Image/portafolio-web-FONDO-DE-PROYECTO-DESTACADOS-GIRAR.png" alt="">


            <div class="contenedor-boxes-top">
              <div class="box-texto">
                  <h2>+3</h2>
                  <p>Años de experiencia Proponiendo Soluciones</p>
              </div>
              <div class="box-texto">
                  <h2>4</h2>
                  <p>Colaboraciones en grandes proyectos.</p>
              </div>
          </div>


            <div class="contenedor-boxes">
              <div class="box">
                <h2>PuertosOnline</h2>
                <img src="../../../assets/Image/Capturas de webs/Puertos completa.png" (click)="openModal('../../../assets/Image/Capturas de webs/Puertos completa.png')" alt="Imagen PuertosOnline" class="box-img" data-img>
                <p>Puertos Online es una web privada utilizada en el armado y la gestión de envíos de trigo en Argentina.</p>
                <button class="box-btn" [routerLink]="['/puertos-online']">Ver más</button>
              </div>
          
              <div class="box">
                <h2>CerealNet</h2>
                <img src="../../../assets/Image/Capturas de webs/cerealnet 1.png" (click)="openModal('../../../assets/Image/Capturas de webs/cerealnet 1.png')" alt="Imagen CerealNet" class="box-img" data-img>
                <p>La especialización de CerealNet es dar a conocer los servicios de PuertosOnline y atraer nuevos usuarios.</p>
                <button class="box-btn" [routerLink]="['/cerealnet']">Ver más</button>
              </div>
          
              <div class="box">
                <h2>WoodSummoner</h2>
                <img src="../../../assets/Image/Capturas de webs/wood.png" (click)="openModal('../../../assets/Image/Capturas de webs/wood.png')" alt="Imagen WoodSummoner" class="box-img" data-img>
                <p>WoodSummoner es una web creada para gestionar compras y dar a conocer el emprendimiento.</p>
                <button class="box-btn" [routerLink]="['/woodsummoner']">Ver más</button>
              </div>
            </div>
        </section>
          
  
        <section id="conocimientos" class="section-conocimientos">

          <h1 class="conocimientostexto">Aprendizaje desde AntSolutions Argentina.</h1>

            <div class="carousel-row row-left">
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 17.png" alt="Imagen 1">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 16.png" alt="Imagen 2">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 15.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 13.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 10.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 6.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 7.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/next-js.256x256.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 8.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 9.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/angular-material-extensions-logo.svg" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img class="bootstrap" src="../../../assets/Image/Iconos/pngegg (1).png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Tailwind CSS.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img class="aos" src="../../../assets/Image/Iconos/aosicon.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 4.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 5.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/pngegg.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/bitbucket_original_wordmark_logo_icon_146622.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 14.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 1.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/Recurso 2.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/node-js.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/photoshop.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/ilustrador.png" alt="Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/Image/Iconos/figma.png" alt="Imagen 3">
              </div>
              
              
              <div class="carousel-item" *ngFor="let img of images">
                <img [src]="img" alt="Imagen">
              </div>

        </div>

        </section>
    
        <section id="diseño" class="section-diseño">

          <img class="Rueda-3" src="../../../assets/Image/portafolio-web-FONDO-DISEÑO-MITAD-GIRAR.png" alt="">
          <img class="Rueda-4" src="../../../assets/Image/portafolio-web-FONDO-SECCION-DETALLE-GIRAR.png" alt="">
        


          <div class="diseño-grid">
            <a class="caja caja-1">
              <img src="../../../assets/Image/diseño/1.png" alt="Imagen 1" class="caja-img">
            </a>
            <a class="caja caja-2">
              <img src="../../../assets/Image/diseño/2.png" alt="Imagen 2" class="caja-img">
            </a>
            <a  class="caja caja-3">
              <img src="../../../assets/Image/diseño/3.png" alt="Imagen 3" class="caja-img">
            </a>
            <a class="caja caja-4">
              <img src="../../../assets/Image/diseño/4.png" alt="Imagen 4" class="caja-img">
            </a>
          </div>

          <button class="Detalles" [routerLink]="['/diseño']">ver mas</button>

        </section>

    </div>

    <div *ngIf="isModalOpen" class="img-modal" (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="close-modal-wrapper" (click)="closeModal()">
          <span class="close-modal">&times;</span>
        </div>
        <img [src]="modalImgSrc" alt="Imagen Ampliada">
      </div>
    </div>
    
    <footer class="footer">
      <div class="footer-content">
        <a href="https://wa.link/4szy7z" target="_blank">
          <img src="../../../assets/Image/portafolio-web-wsp-logo.png" alt="Icono 1" class="footer-icon">
        </a>
        <a href="mailto:kevineloygomez02@gmail.com" target="_blank">
          <img src="../../../assets/Image/portafolio-web-MAIL-LOGO.png" alt="Icono 3" class="footer-icon">
        </a>
      </div>
    </footer>








