<button class="btn-volver" [routerLink]="['/inicio']">
    &#8592;
</button>

<div class="box-container">
    <div class="box">
      <img src="../../../../assets/Image/PuertosOnline/Presentacion.png" alt="Imagen en el box" class="box-img">
    </div>
    <div class="box-label">Puertos <br> Online</div>
</div>

<h1 class="quees">¿Que es Puertos Online?</h1>
<p class="p-1">Esta Web Privada consiste en la logistica y la administracion de entregas de todo tipo de granos. 
  En el cual los usuarios hacen sus envios a los llamados "Puertos" aquellos que reciben el producto.
</p>

<div class="contenedor">
    <div class="box-izquierdo">
        <img src="../../../../assets/Image/PuertosOnline/objetivoD.png" alt="Imagen Objetivo">
    </div>
    <div class="texto">
      <h2 class="titulo">Objetivo</h2>
      <p class="descripcion">
        El objetivo de esta Web fue recostruirla, dandole sustentabilidad, escalabilidad y ciclo de vida. 
        Ya que la web vieja del mismo nombre necesitaba ya ser renovada tanto para los usuarios que la 
        utilizaban como para los nuevos proveedores.
      </p>
    </div>
  </div>

  <div class="contenedor-invertido">
    <div class="texto-invertido">
      <h2 class="titulo-invertido">Tecnologias aplicadas</h2>
      <div class="box-row">
        <div class="small-box">
          <img src="../../../../assets/Image/Iconos/Recurso 10.png" alt="Imagen 1">
        </div>
        <div class="small-box">
          <img src="../../../../assets/Image/Iconos/angular-material-extensions-logo.svg" alt="Imagen 2">
        </div>
        <div class="small-box">
          <img class="boostrap" src="../../../../assets/Image/Iconos/pngegg (1).png" alt="Imagen 3">
        </div>
        <div class="small-box">
          <img src="../../../../assets/Image/Iconos/bitbucket_original_wordmark_logo_icon_146622.png" alt="Imagen 4">
        </div>
      </div>
    </div>
    <div class="box-invertido">
        <img src="../../../../assets/Image/PuertosOnline/TecnologiasD.png" alt="Imagen Objetivo">
    </div>
  </div>

  <div class="contenedor">
    <div class="box-izquierdo">
        <img src="../../../../assets/Image/flujo de trabajo y cosas de las webs/image1.png" alt="Imagen Objetivo">
    </div>
    <div class="texto">
      <h2 class="titulo">Flujo de Trabajo</h2>
      <p class="descripcion">
        Opté por mantener la estructura de la web antigua, ya que esta fue una reconstruccion, 
        me encargue de dar un funcionalidad sin definir muchos cambios para que los usuarios 
        mas viejos no se sientan perdidos. Y, al mismo tiempo renovando y simplificando funciones 
        para agilizar y optimizar la web
      </p>
    </div>
  </div>

  <div class="contenedor-invertido">
    <div class="texto-invertido">
      <h2 class="titulo-invertido">Conclusion</h2>
      <p class="descripcion-invertida">
        Este proyecto me dejó muchas enseñanzas, ya que tuve que reconstruirlo por mi cuenta desde cero. 
        Aprendi mucho sobre metodos de agilizacion en mi tipeo, así mismo como reforzar mis conocimientos y tomar un profundo amor por el FrameWork que utilicé.
      </p>
    </div>
    <div class="box-invertido">
        <img src="../../../../assets/Image/PuertosOnline/conclusion.png" alt="Imagen Objetivo">
    </div>
</div>

<button class="arribar" (click)="scrollToTop()">
  ↑
</button>
  