<button class="btn-volver" [routerLink]="['/inicio']">
    &#8592;
</button>

<div class="box-container">
    <div class="box">
      <img src="../../../../assets/Image/Capturas de webs/wood.png" alt="Imagen en el box" class="box-img">
    </div>
    <div class="box-label">Wood <br> Summoner</div>
</div>

<h1 class="quees">¿Que es Wood Summoner?</h1>
<p class="p-1">Wood Summoner es una marca la cual se dedica a crear cuadros y merch personalizada sobre videojuegos y el ambiente Geek.
</p>

<div class="contenedor">
    <div class="box-izquierdo">
        <img src="../../../../assets/Image/WoodSummoner/Objetivo.png" alt="Imagen Objetivo">
    </div>
    <div class="texto">
      <h2 class="titulo">Objetivo</h2>
      <p class="descripcion">
        Esta Web fue creada para presentar y facilitar la compra de los multiples productos que la marca posee y tambien para administrar los productos.
      </p>
    </div>
  </div>

  <div class="contenedor-invertido">
    <div class="texto-invertido">
      <h2 class="titulo-invertido">Tecnologias aplicadas</h2>
      <div class="box-row">
        <div class="small-box">
          <img src="../../../../assets/Image/Iconos/Recurso 10.png" alt="Imagen 1">
        </div>
        <div class="small-box">
          <img class="boostrap" src="../../../../assets/Image/Iconos/Tailwind CSS.png" alt="Imagen 3">
        </div>
        <div class="small-box">
          <img class="boostrap" src="../../../../assets/Image/Iconos/pngegg (1).png" alt="Imagen 3">
        </div>
        <div class="small-box">
          <img src="../../../../assets/Image/Iconos/aosicon.png" alt="Imagen 2">
        </div>
      </div>
    </div>
    <div class="box-invertido">
        <img src="../../../../assets/Image/WoodSummoner/TecnologiasD.png" alt="Imagen Objetivo">
    </div>
  </div>

  <div class="contenedor">
    <div class="box-izquierdo">
        <img src="../../../../assets/Image/flujo de trabajo y cosas de las webs/image.png" alt="Imagen Objetivo">
    </div>
    <div class="texto">
      <h2 class="titulo">Flujo de Trabajo</h2>
      <p class="descripcion">
        Para esta Web fue mas complicado analizar la competencia, puesto que no hay muchas aplicaciones que se dediquen a lo mismo, 
        por lo que tuve que utilizar el criterio sobre el ambiente y mantener la estructura de la linea grafica que me presentaron.
      </p>
    </div>
  </div>

  <div class="contenedor-invertido">
    <div class="texto-invertido">
      <h2 class="titulo-invertido">Conclusion</h2>
      <p class="descripcion-invertida">
        Hacer esta Web fue divertido, no solo por los clientes si no por que me permitió experimentar 
        y acercarme mas al terreno de animaciones así mismo como a la gestion de pagos.
      </p>
    </div>
    <div class="box-invertido">
        <img src="../../../../assets/Image/WoodSummoner/Conclusion.png" alt="Imagen Objetivo">
    </div>
</div>
  
<button class="arribar" (click)="scrollToTop()">
  ↑
</button>