<button class="btn-volver" [routerLink]="['/inicio']">
    &#8592;
</button>

<div class="box-container">
    <div class="box">
      <img src="../../../../assets/Image/Capturas de webs/cerealnet 1.png" alt="Imagen en el box" class="box-img">
    </div>
    <div class="box-label">Cereal <br> Net</div>
</div>

<h1 class="quees">¿Que es Cereal Net?</h1>
<p class="p-1">¿Qué es CEREALNET? Agrosoft SRL, empresa dedicada a dar soluciones y servicios basados en el uso de tecnología informática, 
  junto con un grupo de «Clientes-Asociados» formado por las principales empresas dedicadas a los servicios de 
  control de peso y calidad en la carga y descarga de cereales y oleaginosos (Entregadores).
</p>

<div class="contenedor">
    <div class="box-izquierdo">
        <img src="../../../../assets/Image/CerealNet/Objetivo.png" alt="Imagen Objetivo">
    </div>
    <div class="texto">
      <h2 class="titulo">Objetivo</h2>
      <p class="descripcion">
        La Web de CerealNet se hizo con el objetivo de ofrecer una informacion completa y agil para los nuevos clientes que pueden convertirse en usuarios de la plataforma de PuertosOnline
      </p>
    </div>
  </div>

  <div class="contenedor-invertido">
    <div class="texto-invertido">
      <h2 class="titulo-invertido">Tecnologias aplicadas</h2>
      <div class="box-row">
        <div class="small-box">
          <img src="../../../../assets/Image/Iconos/Recurso 10.png" alt="Imagen 1">
        </div>
        <div class="small-box">
          <img class="boostrap" src="../../../../assets/Image/Iconos/pngegg (1).png" alt="Imagen 3">
        </div>
        <div class="small-box">
          <img src="../../../../assets/Image/Iconos/aosicon.png" alt="Imagen 2">
        </div>
      </div>
    </div>
    <div class="box-invertido">
        <img src="../../../../assets/Image/CerealNet/TecnologiasD.png" alt="Imagen Objetivo">
    </div>
  </div>

  <div class="contenedor">
    <div class="box-izquierdo">
        <img src="../../../../assets/Image/flujo de trabajo y cosas de las webs/image2.png" alt="Imagen Objetivo">
    </div>
    <div class="texto">
      <h2 class="titulo">Flujo de Trabajo</h2>
      <p class="descripcion">
        Ya que esta aplicacion es una Web publica me dispuse a estudiar el mercado de paginas similares 
        las cuales apostaban por un diseño mas estatico y robusto sin tanta calidad visual. Yo me dispuse a jugar 
        con los colores del servicio y así acostumbrar a los colores de la empresa a aquellos que entren en la web.
      </p>
    </div>
  </div>

  <div class="contenedor-invertido">
    <div class="texto-invertido">
      <h2 class="titulo-invertido">Conclusion</h2>
      <p class="descripcion-invertida">
        Esta pagina me enseñó sobre ciertas practicas en las cuales se utilizan sobre las Webs Institucionales, 
        lo cual me ayudó a interesarme mas sobre el diseño y la competitividad UI/UX.
      </p>
    </div>
    <div class="box-invertido">
        <img src="../../../../assets/Image/CerealNet/conclusion.png" alt="Imagen Objetivo">
    </div>
</div>

<button class="arribar" (click)="scrollToTop()">
  ↑
</button>
  